<style>
.center {
  text-align: center
}

.emph {
  font-weight: bold
}

.extraemph {
  font-weight: bold;
  text-decoration: underline;
}

.quote {
  text-align: center;
  font-size: 2.5em;
  padding:0.5em;
  display: inline-block;
}

.border {
  border: 3px solid #a59fa5;
}

.red {
  color: #a50005
}

.green {
  color: #00a904
}

</style>

<div class="center" style="margin: 0 auto">
  <img src="https://camo.githubusercontent.com/cca75e01de27db61c92fb428863bcb66ba169cf9/687474703a2f2f692e696d6775722e636f6d2f5a3863314564302e706e67", alt="gitcontribution">
</div>
<br>

<h1>
<span class="extraemph red">Code unlocks your life.</span> Here is how and here is WHY:
</h1>

<p>Watch this hockey sensation.</p>

<div class="center">
<img src="http://i.kinja-img.com/gawker-media/image/upload/s--QPZU5nHk--/c_fit,fl_progressive,q_80,w_636/mgogegjoviufcydboog4.gif", alt="Aito">
</div>

 Aito Iguchi - <span class="extraemph">11 years old.</span>
<br />
<br/>
<p>
Extremely impressive. Drill by drill he has improved so much that he has become a superstar. <span class="emph">If you are even close to as good as Aito, please close this window you shouldn't be here.</span> For everyone else...</p>

<p>This didn’t come naturally, Aito isn't naturally this good. It’s like building a condo <i class="fa fa-building-o fa-2x"></i>. Starting with the foundation, little by little, by learning new techniques and practicing a lot, you can become an extremely valuable person <i class="fa fa-money fa-2x green"></i>. <span class="emph">Get into the mindset of progress, not perfection.</span>
</p>

<div class="center">
  <span class="quote border">
    Progress, not perfection.
  </span>
</div>

<br/>
<p>
We want to see you succeed. All you have to do is <span class="emph">commit to the idea that with a computer you can be abnormally valuable.</span> Bit by bit, <span class="extraemph green">we keep track of your progress.</span> <span class="emph">If you <span class="red">don’t</span> commit code, you pay your pre-determined amount.</span> You will though, and when you do, we will fully back your progress and validate your ability to code. The amount you commit and the quality of your commits is a reflection of how serious you are. 
</p>

<p>
You are going to get better and we are building the platform to help you. <span clas="extraemph">All you have to do is commit.</span> You need to push code and the only way we know how to enforce it is to track your public Github contributions (remember at the top of the page?).
<br>
</p>



<div class="center">
  <span class="quote">
<span class="extraemph">I'm into it! What do I have to do?</span></button>
</span>
</div>
<br/>

<div class="center">
  <span class="quote">  
    <button>Let's get started. I agree to commit code 3 times a week.</button>
</span>
</div>



<h3>I need a little more information!</h3>

<h4>Employment and Professionals</h4>
<h5>The Economy Values Skills</h5>

<p>Our economy values people with skills set. Investment banker, Lawyer, DOCTOR?  They are PAID <i class="fa fa-money fa-2x green"></i>. They have a skill set that many others do not and they have the the tools and networks that help them multiply the value of those skill sets. <span class="emph red">What if I am not a professional?</span>
</p>

<h5>Timing</h5>
<p>
Timing is very important in the decisions people make. How often do you hear, if you are going to take a risk take in in your 20s? People often look back at saying I wish I became a doctor, dentist, accountant but now have kids or are in a relationship and they love it! The difficulty is that they can’t go back to their 20s and it is really really difficult to take the time needed to become a professional. People take night school and try to build skills but it's expensive, you can't be at home, and the value only starts to occur once you get out of the classroom!
</p>

<h4>Leverage of the Computer and the Internet</h4>
<p>Everyone has a computer, everyone has a smartphone. <span class="extraemph green">MOST</span><span class="green"> do not utilize the value of their computer.</span> If you want. The computer can be a money making, happiness generating, creativity fulfilling, and sharing behemoth.</p>



<div class="center">
  <span class="quote border">
    "The average base salary of a software engineer is $97,098"
  </span>
</div>
<h4><a href="http://www.businessinsider.com/tech-salaries-have-hit-a-new-record-2014-10">Tech Pay Hits A Record: This Is What Software Engineers Earn BEFORE Their Bonuses</a></h4>
<a href="http://www.businessinsider.com/best-tech-skills-resume-ranked-salary-2014-11">Another Link</a>



<h4>Build Now or Be Ready When the Opportunity Presents Itself - The Market is Only Getting Bigger!</h4>


<h4>The Resources are there</h4> The work is the hardest to find.

<h4>Common Questions</h4>
<ul>
  <li>Why can't I just pay someone to do it for me?
  <br />
  Learning to program is a lifestyle. It's about knowing how to properly solve something. 
  </li>

</ul>

- Make the point that code is flexible, you can use it to fullfil any of your interests
The reach of the internet is everyone. You could start a restaurant, you could become a lawyer, 

<p>This isn't aimed at the computer whiz that has ben programming since he was 12.</p>





With an idea, the technology gains can be so vast that building a simple api can be a night and day difference. Someone just has to do it. It’s not that it’s hard it’s just that the technology is so new that it hasn’t had time to properly permeate throughout society. The internet market is the economy on virtual steroids. 


You can take steps towards your destination of becoming a valuable programmer. 

Our economy is built on specialization and comparative advantage. 
We believe in significant value creation. 

No matter your current skill set, no matter if you are working full time or

“Software is eating the world” Mark Andreessen 

Quote from Steve Jobs ~= “World is mutable"

A developed idea + Execution … aka Shipping = Makes you a rich individual. It’s creative, it’s thoughtful, it’s shareable, it can be financially profitable.

You do not know what is possible and how difficult it is until you try.
Have an idea => great lets start working on it
Don’t have an idea? => great lets get you ready for when that idea comes to you. Whether you come up with it or a partner comes to you, you will need to be ready to step up. 

A small group of talented people will change the world => quote

1. You can live off of it and live pretty well. Developer salaries. http://www.businessinsider.com/tech-salaries-have-hit-a-new-record-2014-10
2. One of the most flexible skill sets you can acquire, you can do it anywhere, you can start at anytime
3. You can create value for more people than any other tool because the internet is scaleable

Value prop
Type of people:
1. Never Programmed Before
2. Little Experience, don’t know where to take it
3. Working in the industry, good programmer, looking to develop something. 

Codecations 

Either you program now, maybe you’re looking to build a team?

We will offer the resources that we know
     - list of useful websites and exercises

If you commit code for 3 months. We will endorse you. 
If you want a job, I will personally reach out to your employer, 

We will highlight you as a job candidate and freelancer. 

Coding schools are great, especially if you have a lot of cash to burn. Nothing gets done in 3 months. 


We will continue to work to get you the newest resources we can find. 

You need to commit to the goal of being an awesome person. 

We want to set up a system that will let you get where you want to be. We

Knowing how to code is the single 

To get better you need to practice. 

Learning requires effort


1. Progress, not perfection
Progress is improvement, not stalled, not getting worse. Perfection, the act of doing something flawlessly is not attainable.  Being human, even the things that we consider to be perfect is really just a relative measure to other non-perfect things. Progress can be fast or it can be slow. 


<div class="center">
  <span class="quote">  
    <button>Let's get started. I agree to commit code 3 times a week.</button>
</span>
</div>


Outline

Progress Not Perfection

Leverage and the value of the internet and a computer

Market Share - there is a ton of room on the internet to do things, lots of room for new applications 
- it is the frontier with extremely low costs, you can make a lot of money
- programming lends itself in to structured thought, good for building anything

Timing of Professions

